@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: black;
}

.scrollbar::-webkit-scrollbar {
  height: 10px;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

@layer base {
  h1 {
    @apply md:text-7xl text-[56px] md:leading-[1.2em] leading-[1.2em] font-semibold;
  }
}

@layer components {
  .content-container {
    @apply max-w-[1320px] m-auto px-5 md:px-10 xl:px-[3.75rem]
  }

  .feature-card {
    background-image: linear-gradient(to right, #115ef5, #538bf9);
    border-radius: 22px;
  }

  .radial-gradient {
    background-image: radial-gradient(50% 50% at 50% 50%, rgba(17, 94, 245, 0.2) 0%, transparent 100%);
  }
}
