@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar::-webkit-scrollbar {
  height: 6px;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

@layer base {
  :root {
    --tw-gray-08: rgba(0, 0, 0, 0.08);
    --tw-gray-10: rgba(0, 0, 0, 0.1);
    --tw-gray-20: rgba(0, 0, 0, 0.2);
    --tw-gray-50: rgba(0, 0, 0, 0.5);
    --tw-gray-60: rgba(0, 0, 0, 0.6);
    --tw-gray-80: rgba(0, 0, 0, 0.8);
  }
  body {
    background: theme('colors.white');
    color: theme('colors.black-1');
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --tw-gray-08: rgba(255, 255, 255, 0.08);
      --tw-gray-10: rgba(255, 255, 255, 0.1);
      --tw-gray-20: rgba(255, 255, 255, 0.2);
      --tw-gray-50: rgba(255, 255, 255, 0.5);
      --tw-gray-60: rgba(255, 255, 255, 0.6);
      --tw-gray-80: rgba(255, 255, 255, 0.8);
    }

    body {
      background: theme('colors.black');
      color: theme('colors.white');
    }
  }

  h1 {
    @apply md:text-7xl text-[56px] md:leading-[1.2em] leading-[1.2em] font-semibold;
  }
  h2 {
    @apply md:text-[64px] text-[56px] md:leading-[77px] leading-[67px] font-semibold;
  }
  h3 {
    @apply md:text-[40px] text-[32px] md:leading-[53px] leading-[42px] font-semibold;
  }
  h4 {
    @apply md:text-[28px] text-[24px] md:leading-[34px] leading-[29px] font-medium;
  }
  h5 {
    @apply text-[24px] leading-[29px] font-medium;
  }
}

@layer components {
  .content-container {
    @apply max-w-[1320px] m-auto px-5 md:px-10 lg:px-[3.75rem];
  }

  .feature-card {
    background-image: linear-gradient(to right, #115ef5, #538bf9);
    border-radius: 22px;
  }

  .radial-gradient {
    background-image: radial-gradient(
      50% 50% at 50% 50%,
      rgba(17, 94, 245, 0.2) 0%,
      transparent 100%
    );
  }

  .mask-linear-gradient {
    background: linear-gradient(
      269.7deg,
      theme('colors.white') 0.22%,
      rgba(0, 0, 0, 0) 99.7%
    );
  }

  .mask-linear-gradient-reverse {
    background: linear-gradient(
      89.7deg,
      theme('colors.white') 0.22%,
      rgba(0, 0, 0, 0) 99.7%
    );
  }

  .mask-linear-gradient--dark {
    background: linear-gradient(
      269.7deg,
      theme('colors.black') 0.22%,
      rgba(0, 0, 0, 0) 99.7%
    );
  }

  .mask-linear-gradient-reverse--dark {
    background: linear-gradient(
      89.7deg,
      theme('colors.black') 0.22%,
      rgba(0, 0, 0, 0) 99.7%
    );
  }

  .mask-title-bg {
    background: linear-gradient(89.9deg, #ffffff 0.09%, #f3f4f6 99.93%);
  }
  .mask-title-bg--dark {
    background: linear-gradient(90.01deg, #000000 0.01%, #141414 99.99%);
  }

  .linear-chosed-item-bg {
    background: rgba(17, 94, 245, 0.1);
  }

  .linear-block-item-bg {
    background: linear-gradient(
      180deg,
      #f7f7f7 0%,
      rgba(247, 247, 247, 0) 100%
    );
  }
  .linear-block-item-bg--dark {
    background: linear-gradient(180deg, #141414 0%, rgba(20, 20, 20, 0) 100%);
  }

  .linear-image-item-bg {
    background: linear-gradient(90deg, #115ef5 0%, #538bf9 100%);
  }

  .decorative-border-linear-down--light {
    border-image: linear-gradient(#fff 40%, rgb(217, 217, 217)) 1;
  }
  .decorative-border-linear-down--dark {
    border-image: linear-gradient(#000 40%, rgb(38, 38, 38)) 1;
  }
  .decorative-border-linear-down {
    @apply dark:decorative-border-linear-down--dark decorative-border-linear-down--light;
  }

  .decorative-border-linear-up--light {
    border-image: linear-gradient(rgb(217, 217, 217), #fff) 1;
  }
  .decorative-border-linear-up--dark {
    border-image: linear-gradient(rgb(38, 38, 38), #000) 1;
  }
  .decorative-border-linear-up {
    @apply dark:decorative-border-linear-up--dark decorative-border-linear-up--light;
  }

  .decorative-border-linear-middle--light {
    border-image: linear-gradient(to right, #fff, rgb(217, 217, 217), #fff) 1;
  }
  .decorative-border-linear-middle--dark {
    border-image: linear-gradient(to right, #000, rgb(38, 38, 38), #000) 1;
  }

  .decorative-border-shadow--first {
    background: linear-gradient(
      315deg,
      rgba(217, 217, 217, 0.2) 0%,
      rgba(217, 217, 217, 0) 27.94%
    );
  }
  .decorative-border-shadow--last {
    background: linear-gradient(
      135deg,
      rgba(217, 217, 217, 0.2) 0%,
      rgba(217, 217, 217, 0) 27.94%
    );
  }

  .decorative-border {
    @apply relative mb-20 lg:border-b-2;
    @apply dark:decorative-border-linear-middle--dark decorative-border-linear-middle--light;
  }
  .decorative-border-item--lg {
    @apply relative border-r-2 last:border-r-0 decorative-border-linear-down;
    @apply lg:last:after:decorative-border-shadow--last;
    @apply after:absolute after:contents after:left-0 after:-right-[2px] lg:after:h-20;
    @apply last:after:border-r-0 after:border-r-2 after:decorative-border-linear-up;
  }
  .decorative-border-item--md {
    @apply relative;
    @apply first:decorative-border-shadow--first;
    @apply first:border-r-2 first:border-b-2 lg:first:border-b-0 first:decorative-border-linear-down;
    @apply first:after:absolute after:top-full md:first:after:left-full lg:first:after:left-[2px] first:after:w-full first:after:border-b-2 lg:first:after:border-b-0 md:first:after:decorative-border-linear-down lg:first:after:decorative-border-linear-up;
    @apply lg:first:before:hidden first:before:absolute first:before:top-full first:before:left-full first:before:h-full first:before:border-r-2 first:before:decorative-border-linear-up;
  }
}
